h1 {
    font-family:Arial, Helvetica, sans-serif
}

p {
    font-family:Arial, Helvetica, sans-serif
}

caption {
  font-family: Arial, Helvetica, sans-serif;
}

h1, p, caption {
  text-align: center;
} 

body {
  background-color: black;
  color: white;
}